# Dependencies
node_modules/

# Environment variables - VIKTIG! Hindrar secrets från att laddas upp
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
